[project]
	description = new branch 1
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/SpaceDev (nrkishan)
[access "refs/for/refs/*"]
	read = group user/SpaceDev (nrkishan)
	push = group user/SpaceDev (nrkishan)
	label-Code-Review = -2..+2 group user/SpaceDev (nrkishan)
	label-Verified = -1..+1 group user/SpaceDev (nrkishan)
	rebase = group user/SpaceDev (nrkishan)
	removeReviewer = group user/SpaceDev (nrkishan)
	submit = group user/SpaceDev (nrkishan)
[access "refs/heads/*"]
	read = group user/SpaceDev (nrkishan)
	create = group user/SpaceDev (nrkishan)
	push = +force group user/SpaceDev (nrkishan)
	pushMerge = group user/SpaceDev (nrkishan)
[access "refs/tags/*"]
	push = group user/SpaceDev (nrkishan)
	push = +force group user/SpaceDev (nrkishan)
